@font-face{
    font-family: 'Comfortaa';
    src: url(../font/comfortaa/Comfortaa-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Comfortaa';
    src: url(../font/comfortaa/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../font/monsterrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../font/monsterrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Roboto';
    src: url(../font/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'FontAwesome Brands';
    src: url(../icon/webfonts/fa-brands-400.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'FontAwesome Duotone';
    src: url(../icon/webfonts/fa-duotone-900.ttf);
    font-weight: 900;
}

@font-face{
    font-family: 'FontAwesome';
    src: url(../icon/webfonts/fa-light-300.ttf);
    font-weight: 300;
}

@font-face{
    font-family: 'FontAwesome';
    src: url(../icon/webfonts/fa-regular-400.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'FontAwesome';
    src: url(../icon/webfonts/fa-solid-900.ttf);
    font-weight: 900;
}


.fas{
    font-family: 'FontAwesome';
    font-weight: 900;
}


.far{
    font-family: 'FontAweseme';
    font-weight: 400;
}

.fal{
    font-family: 'FontAweseme';
    font-weight: 300;
}

.fad{
    font-family: 'FontAwesome Duotone';
    font-weight: 900;
}

.fab{
    font-family: 'FontAwesome Brands';
    font-weight: 400;
}

.icon_film::before{
    content: '\f008';
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
}
.icon-play{
    font-size: 40px;
    position: relative;
    
}

.icon-play::before{
    content: '\f04b';
    color: white;
    font-style: normal;
    position: absolute;
}
.icon-play::after{
    content: '\10f04b';
    color: rgba(255, 255, 255, 0.5);;
    font-style: normal;
}

